# Front End port
FE_PORT_MON=8888

# Prometheus port
PM_PORT_MON=9090

# Grafana port
GF_PORT_MON=3000

# Alertmanager
AM_PORT_MON=9093

# HTTPS needs
# FILE_KEY and FILE_CRT must be set with the related file names that are in /root/certs/monitoring (see example below)
DOMAIN_MON=__DOMAIN_MON__
FILE_KEY=__FILE_KEY__
FILE_CRT=__FILE_CRT__


# Dashboard URL
DASHBOARD_URL=http://127.0.0.1/test/dashboard

export FE_PORT_MON
export PM_PORT_MON
export GF_PORT_MON
export AM_PORT_MON
export DASHBOARD_URL
export DOMAIN_MON
export FILE_KEY
export FILE_CRT
